h1 {
    color: brown;
    margin: 10px;  
    padding: 20px;
    
}

h2 {
    background-color: #a12c3a;
    color: #10319F;
}
body{
    background-color: #A12B9E;
}
/** {
   border: solid;
}*/
.header{
   background-color: aqua; 
   display: flex ;
    justify-content: space-between ;

}
.grid{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content:flex-end;
}
a:link{
color: #11B314;
}
a:visited{
color: #A3B2D4;
}
.menu{
    margin-right: 30px;
}
.menu a {
    margin-left: 40px ;
}
.item p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0 ;
}
.item{

    position: relative;

}
.item:hover p{
    opacity: 1 ;
}
.item img{
    opacity: 0.33;
}