h1 {
    color: brown;
    margin: 50px;
    margin-top: 100px;
    padding: 200px;
    
}

h2 {
    background-color: #a12c3a;
    color: #10319F;
}
body{
    background-color: #A12B9E;
}
* {
    border: solid;
}
.header{
   background-color: aqua; 
   display: flex ;
    justify-content: space-between ;

}
.grid{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content:flex-end;
}